@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&family=Trispace:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  font-family: Poppins, sans-serif;
  color: white;
  font-weight: 300;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid darkgray;
}

.navbar h1 {
  color: tomato;
  font-weight: bold;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-weight: 300;
}

.navbar a:hover {
  color: tomato;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-header {
  /* text-decoration: underline overline 3px tomato; */
  font-weight: 400;
  border-top: 3px solid tomato;
  border-bottom: 3px solid tomato;
  display: inline;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid darkgray;
}

.blog-preview h2 {
  font-weight: 500;
  color: tomato;
  margin-top: 8px;
  font-size: 20px;
}

.blog-preview p {
  font-weight: 200;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.blog-details p {
  font-size: 14px;
}

.blog-details div {
  margin: 20px 0;
  border: inset tomato;
  padding: 20px;
}

.blog-details .loading {
  border: none;
}

.blog-details button  {
  background: tomato;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}


.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: tomato;
  margin-bottom: 30px;
  font-weight: 500;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid darkgray;
  box-sizing: borer-box;
  display: block;
}

.create button {
  padding: 8px;
  border-radius: 8px;
  background: tomato;
  color: white;
  cursor: pointer;
  border: 1px solid darkgray;
}

